@media only screen and (max-width: 1200px) {
  .home {
    min-height: 100vh;
  }
  nav .links {
    order: 2;
    background-color: #ffffff;
    width: 4%;
  }
  nav .links .menu {
    display: block;
  }
  nav ul {
    display: none;
  }
  .footer {
    flex-wrap: wrap;
    height: 600px;
  }
  footer {
    height: 675px;
  }
  .part1 {
    width: 50%;
  }
  .part2 {
    order: 2;
    width: 90%;
  }
  .part3 {
    width: 35%;
  }
}

@media only screen and (max-width: 990px) {
  header {
    padding-top: 26%;
    justify-content: space-around;
  }
  .hero {
    width: 70%;
    order: -1;
  }
  .intro {
    width: 80%;
    text-align: center;
    margin-top: 20px;
  }
  .btn {
    justify-content: center;
  }
  .cards {
    align-items: baseline;
  }
  .chef1 {
    width: 40%;
  }
  .parent {
    width: 70%;
    grid-template-columns: repeat(2, 1fr);
  }
  .section3 iframe {
    width: 93%;
  }
  .section3 .contact-us {
    width: 93%;
  }
  .form {
    width: 93%;
  }
  .first-row {
    flex-wrap: wrap;
  }
  .first-row input {
    width: 100%;
  }
}
@media only screen and (max-width: 768px) {
  .chef1 {
    width: 75%;
  }
  .parent {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: max-content;
  }
  
  .section3 iframe {
    width: 70%;
  }
  .section3 .contact-us {
    width: 70%;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }
  .form {
    width: 70%;
  }
  .first-row {
    flex-wrap: wrap;
  }
  footer {
    height: 880px;
  }
  .footer {
    height: 850px;
  }
  .part1 {
    width: 76%;
    order: -2;
  }
  .part2 {
    order: -1;
    width: 76%;
  }
  .part3 {
    width: 76%;
  }
}
@media only screen and (max-width: 735px){
  .hero{
    width: 86%;
  }
  .chef1 {
    width: 80%;
  }
  .parent{
    width: 80%;
  }
  .section3 iframe {
    width: 80%;
  }
  .section3 .contact-us{
    width: 80%;
  }
  .form {
    width: 80%;
  }
  .part1 {
    width: 80%;
  }
  .part2 {
    width: 80%;
  }
  .part2 form input {
    width: 100%;
    margin-bottom: 15px;
  }
  .part2 form button {
    width: 100%;
  }
  .quick-links {
    margin-top: 14px;
  }
  
}
@media only screen and (max-width: 575px) {
  .hero{
    width: 92%;
  }
  .chef1 {
    width: 92%;
  }
  .parent{
    width: 92%;
  }
  .section3 iframe {
    width: 92%;
  }
  .section3 .contact-us{
    width: 92%;
  }
  .form {
    width: 92%;
  }
  .part1 {
    width: 92%;
  }
  .part2 {
    width: 92%;
  }
  
  .part2 p {
    width: 100%;
  }
  .quick-links {
    margin-top: 14px;
  }
  .part3 {
    width: 90%;
  }
}
